body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #704c70;
  }
  
  .container {
    text-align: center;
  }
  
  .avatar-container img {
    width: 400px; /* Adjust the width as needed */
    height: 400px;
    border-radius: 50%;
    border: 3px solid #b3c1b2; /* Optional: add a border around the avatar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .notecard {
    align-content: center;
    background-color: #b3c1b2;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Increased padding to take up more space */
    width: 1000px; /* Adjust the width as needed */
    height: 600px;
    max-width: 3000px; /* Adjust the maximum width as needed */
    text-align: center;
    margin: auto; /* Center the notecard */
  }
  
  .notecard p:first-child {
    font-size: 2em; /* Increased font size for the heading */
    font-weight: bold;
    margin-bottom: 20px;
  }

  .navigation {
    margin-top: 20px;
  }
  
  .nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #800080; /* Purple background color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .nav-button:hover {
    background-color: #5c005c; /* Darker purple on hover */
  }

  .illustrations-button:hover{
    background-color: grey;

  }