body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Ensure horizontal overflow is hidden */
  display: flex;
  flex-direction: column; /* Make sure the content is stacked vertically */
  background-color: #704c70; /* Set the background color */
}
  .container {
    text-align: center;
  }
  
  .avatar-container img {
    width: 400px; /* Adjust the width as needed */
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #b3c1b2;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #b3c1b2;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

nav a:hover {
    color: #b3c1b2; /* Change color on hover */
}

button {
  background-color: #333;
  color: #b3c1b2;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  color: #687a67;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-picture img {
  width: 400px;
  border-radius: 50%;
}

footer {
    background-color: #333;
    color: #b3c1b2;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Add this style for the profile picture */
.profile-picture {
  text-align: center;
}

.about-content {
  text-align: center;
  font-size: 1.5em; /* Adjust the font size as needed */
}

.animations-content{
    text-align: center;
    font-size: 2.0em; /* Adjust the font size as needed */
}

.illustrations-content{
  text-align: center;
  font-size: 2.0em; /* Adjust the font size as needed */
}

.character-content {
  text-align: center;
  font-size: 2.0em; /* Adjust the font size as needed */
}